<!DOCTYPE html>
<html>
<head>
	
	<meta charset="UTF-8" />
	
	<title>
        {% block title %}
            Bridging Systems
        {% endblock %}
    </title>
	
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- JS -->
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{% block head %}{% endblock %}

	<!-- Styling -->
	<script src="https://kit.fontawesome.com/52e6b7f776.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/main.css">

	{# <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Roboto+Mono:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
 #}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


	<!-- ANALYTICS -->

	<!-- (see just before the </body> tag) -->

</head>

<body class="{% block body_class %}{% endblock %}">

	<div>

	{# <div class="banner">
		This site is a work-in-progress and has not yet launched. All content is provisional.
	</div> #}

	<header>

		<a href="/" class="logotype">
			<div class="icon"><i class="fa-solid fa-bridge-suspension"></i></div>
			<div class="type">Bridging Systems</div>
		</a>

		<div class="outlinks">
			<a href="https://github.com/luke-thorburn/bridging-systems" target="_blank">
				<div class="icon"><i class="fa-brands fa-github"></i></div>
			</a>			
		</div>
		
		<nav>
			{% for p in collections.post | removeHiddenPostsAndPages %}
				<a href="/{{ p.data.slug }}/">{{ p.data.title }}</a>
			{% endfor %}
			{# <a href="/paper/">Paper</a>
			<a href="/metrics/">Metrics</a>
			<a href="/working-group/">Working Group</a> #}
			{# <div>
				<a href="https://twitter.com/BuckleysPub" class="icon"><i class="fab fa-twitter"></i></a>
				<a href="https://github.com/buckleys-chance" class="icon"><i class="fab fa-github"></i></a>
				<a href="/rss.xml" class="icon"><i class="fas fa-rss"></i></a>
			</div> #}
		</nav>
	</header>

	<main>

		<aside>
			{% block outline %}{% endblock %}
		</aside>

		{% block content %}{% endblock %}
	
	</main>	

	</div>

	<script type="module">
		// window.addEventListener('load', function () {
		// 	let root = document.documentElement;
		// 	root.style.setProperty('--header-height', document.querySelector('header').offsetHeight + "px");
		// })

		// Add 'active' class to the relevant link in the header.
		let links = document.querySelectorAll('header nav a');
		for (let k = 0; k < links.length; k++) {
			if (links[k].href == `${window.location.origin}${window.location.pathname}`) {
				links[k].classList.add('active');
			}
		}

		// Specify top offset when scrolling using # links.
		// window.addEventListener("hashchange", function () {
		// 	window.scrollTo(window.scrollX, window.scrollY - 100);
		// });

	</script>

</body>

</html>