
:root {
	--bg: #33691e;
	--bg-highlight: #558b2f;

	--bg-text: #fff;

	--bg-shadow: #003d00;

	--bg-tint: #f1f8e9;

	--alt: #fff;
	--alt-text: #141414;

	--alt-heading: #33691e;

	--margin: 60px;
	--padding: 40px;

	--card-border: none;
}

/*html.light-theme {
	--bg: #fff;
	--bg-text: #000;
	--bg-shadow: #fff;
	--bg-highlight: #efefef;
	
	--alt: #fff;
	--alt-heading: #000;

	--card-border: 1px solid #000;
}*/

html {
	background-color: var(--alt);

	min-height: 100vh;

	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll;
}

body {
	margin: 0;
}

::selection {
	background-color: #85bb5c;
}

.page {
	width: calc(100vw - 2 * var(--margin));
	/*max-width: 900px;*/
	min-height: 100vh;
	margin: var(--margin) auto;
	
	background-color: #fff;

	box-shadow: 0 0 60px #003d00;
	border-radius: 3px;

}

header, main, footer {
	display: block;
	box-sizing: border-box;
	padding: var(--padding);
}

header {
	background-color: var(--alt);
	display: flex;
	justify-content: space-between;
	align-items: center;
}



/* --------------------------------------------------------- */

:root {
  --background: #f1f8e9;
  --face: #f1f8e9;
  --border: #33691e;
  --dots: #fdd835;
  --text: #33691e;
  --side-small: 25px;
  --side-large: 100px;
  --border-small: 2px;
  --border-large: 3px;
}

html.alt {
  --background: #33691e;
  --face: #33691e;
  --border: #fff;
  --dots: #fdd835;
  --text: #fff;
}

header a.title {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	cursor: pointer;
}

header a.title h1 {
	font-family: 'Philosopher', sans-serif;
	text-transform: uppercase;
	color: var(--text);
	font-size: 2.1rem;
	margin: 0;
}

.scene {
  perspective: 500px;
}

.scene {
  width: var(--side-small);
  height: var(--side-small);
  --side: var(--side-small);
  --border-width: var(--border-small);
  --face: var(--border);
  --r: 25%;
  --r2: 0;
/*   --dots: var(--background); */
  margin: 0 20px 0 22px;
}

.cube {
  width: var(--side);
  height: var(--side);
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(calc(-0.5 * var(--side)));
  transition: transform 1s;
  cursor: pointer;
}

.cube {
/*   transform: translateZ(-100px) rotateY(51deg) rotateX(-22.5deg) rotateZ(-27.5deg); */
  transform: translateZ(calc(-0.5 * var(--side))) rotateY(41deg) rotateX(-22.5deg) rotateZ(-27.5deg);
}
.cube:hover, header a.title:hover .cube {
/*   transform: translateZ(-100px) rotateY(-0deg) rotateX(240deg) rotateZ(225deg); */
  transform: translateZ(calc(-0.5 * var(--side))) rotateY(10deg) rotateX(240deg) rotateZ(225deg);
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  /*   border: 5px solid #33691e; */
  color: #fedb4a;
  background-color: var(--background);
}

.cube__face .dots {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  content: " ";
  box-sizing: border-box;
  border: var(--border-width) solid var(--border);
  border-radius: 10%;
  background-color: var(--face);
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
/*   grid-column-gap: 10px; */
  padding: 5%;
}

.cube__face--front .dots { border-right: none; border-radius: var(--r) var(--r2) var(--r2) var(--r);}
.cube__face--right .dots  { border-radius: var(--r2) var(--r2) var(--r) var(--r); }
.cube__face--back .dots   { border-radius: var(--r2) var(--r2) var(--r) var(--r); }
.cube__face--left .dots   { border-radius: var(--r2) var(--r) var(--r) var(--r2); }
.cube__face--top .dots    { border-radius: var(--r2) var(--r2) var(--r) var(--r); }
.cube__face--bottom .dots { border-radius: var(--r2) var(--r) var(--r) var(--r2); border-left: none; }

b.dt {
  background-color: var(--dots);
  border-radius: 50%;
  width: 85%;
  height: 85%;
  align-self: center;
  justify-self: center;
}

.cube__face--front { transform: rotateY(0deg) translateZ(calc(0.5 * var(--side)));  }
.cube__face--right { transform: rotateY(90deg) translateZ(calc(0.5 * var(--side))); }
.cube__face--back { transform: rotateY(180deg) translateZ(calc(0.5 * var(--side))); }
.cube__face--left { transform: rotateY(-90deg) translateZ(calc(0.5 * var(--side))); }
.cube__face--top { transform: rotateX(90deg) translateZ(calc(0.5 * var(--side))); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(calc(0.5 * var(--side))); }

/* ------------------------------------------------------ */



header nav {
	display: block;
	font-size: 1rem;
	display: flex;
}

header nav a {
	color: #000;
	text-decoration: none;
	display: block;
	margin: 0 0 0 20px;
	font-family: 'Roboto';
	font-weight: 300;
	text-transform: none;
	text-decoration: none;
	/*text-decoration-color: var(--bg-tint);*/
	border-bottom: 1px solid var(--bg-tint);
}

header nav a:hover {
	/*text-decoration-color: var(--bg);*/
	border-bottom-color: var(--bg);
}

header nav a.icon {
	color: var(--bg);
	border-bottom: none;
}


:root {
	--gap: 0px;
	--n-columns: 6;
	--n-gaps: 5;
}

main.post-list {

	display: grid;
	grid-template-rows: repeat(10, auto);
	grid-template-columns: repeat(var(--n-columns), calc((100% - var(--n-gaps)*var(--gap)) / var(--n-columns)));
	padding-top: 0;

	grid-column-gap: var(--gap);
	grid-row-gap: var(--gap);
	justify-content: start;
	/*background-color: #fedb4a;*/
}

@media only screen and (max-width: 1700px) {
	:root {
		--n-columns: 5;
		--n-gaps: 4;
	}
}

@media only screen and (max-width: 1500px) {
	:root {
		--n-columns: 4;
		--n-gaps: 3;
	}
}

@media only screen and (max-width: 1200px) {
	:root {
		--n-columns: 3;
		--n-gaps: 2;
	}
}

@media only screen and (max-width: 900px) {
	:root {
		--n-columns: 2;
		--n-gaps: 1;
	}
}

@media only screen and (max-width: 600px) {
	:root {
		--n-columns: 1;
		--n-gaps: 0;
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid var(--bg-tint);
	/*background-color: var(--bg-tint);*/
}

.card.blurb {
	background-color: var(--bg);
	border-color: var(--bg);
	color: #fff;
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 1.7rem;
}

.card.blurb a {
	display: block;
	color: #fff;
	text-decoration-color: var(--bg-highlight);
	text-align: right;
	padding-top: 5px;
}

.card.blurb a:hover {
	text-decoration-color: #fff;
}

a.card:hover {
	background-color: var(--bg-tint);
}

a.card {
	cursor: pointer;
	text-decoration: none;
	color: var(--alt-text);
	font-weight: 400;
}

/*a.card:hover {
	opacity: 1 !important;
}*/

a.card strong {
	color: var(--alt-heading);
	margin-bottom: 20px;
	display: block;
	font-size: 1.5rem;
	font-weight: 700;
	/*color: #003d00;*/

	/*Required for tilt parallax effect*/
	transform: translateZ(20px);
}

a.card img {
	display: block;
	max-width: 100%;
	margin: 0 0 20px 0;
}

.hover {
	display: block;
	min-width: 40px;
	min-height: 40x;
	background-color: red;

	transform: translateZ(20px)
}

main.post {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #fff;
	/*border-left: 20px solid var(--bg);*/
}

.post .frontmatter, .post .backmatter {
	background-color: var(--bg-tint);
	padding: var(--padding);
}

.post .frontmatter > div, .post .backmatter > div {
	width: 600px;
	margin: 0 auto;
}

.post h1 {
	margin: 0 0 20px 0;
	color: var(--bg);
}

.post .description {
	max-width: 600px;
	margin: 0;
	font-size: 1.1rem;
	line-height: 1.5rem;
}

article {
	display: block;
	padding: var(--padding) 0;
	margin: 0;
	font-size: 1.1rem;
	font-weight: 400;
	color: var(--alt-text);
	line-height: 1.5rem;
}

article p, article ul, article h4 {
	max-width: 600px;
	margin: 0 auto 2rem auto;
}

article hr {
	display: block;
	border: none;
	background-color: var(--bg-tint);
	height: 10px;
	margin: 4rem 0 4rem 0;
}

article a {
	color: var(--bg);
}
