
@charset 'utf-8';

// ============================================================================== //
// ============================================================================== //
// VARIABLES ==================================================================== //
// ============================================================================== //

// FONTS

$sans-serif-stack: ('Open Sans', 'Helvetica', 'Arial', sans-serif);
$monospace-stack: ('Roboto Mono', monospace);

// COLOURS

$default-background: #fff;
$default-text: #141414;

$c1-dark: #4a148c;
$c1-dark-tint: #6a1b9a;
$c1-dark-text: #fff;

$c1-light: #fcf3ff;
$c1-light-tone: #fae8ff;
$c1-light-tone-tone: #f6dcfd;
$c1-light-highlight: #c026d3;

$c2-dark: #fdd835;

// SPACING

$p: 1.4rem;
$h: #{$p / 2};
$q: #{$p / 4};

// TODO - Refactor these.

$padding: 20px;
$margin: 60px;


// ============================================================================== //
// ============================================================================== //
// MIXINS ======================================================================= //
// ============================================================================== //

@mixin cross-browser($property, $value) {
	-webkit-#{$property}: $value;
		 -moz-#{$property}: $value;
			-ms-#{$property}: $value;
					#{$property}: $value;
}

@mixin mpb($margin:0, $padding:0, $border:0) {
		margin: $margin;
		padding: $padding;
		border: $border;
}

// ============================================================================== //
// ============================================================================== //
// GLOBAL ======================================================================= //
// ============================================================================== //

// Replaces standard box model with one where width/height are the actual
// visable width/height. Padding & border cut into the box.

:root {
	--p: #{$p};
	--h: #{$h};
	--q: #{$q};

	--default-text: #{$default-text};

	--c1-dark: #{$c1-dark};
	--c1-light: #{$c1-light};

	// --header-height: 106px;
	--header-height: 0px;
}

html {
	box-sizing: border-box;
	@include cross-browser('font-smoothing', antialiased);
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;

	background-color: $default-background;
	font: 400 14px/1.5rem $sans-serif-stack;
	color: $default-text;

	text-size-adjust: none;
	
	overflow-x: hidden;
	overflow-y: scroll;
	
	min-height: 100vh;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	@include mpb();
	max-width: 100%;
}

html, body {
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

::selection {
	// TODO - add selection colour
	// background-color: #85bb5c;
}

div.banner {
	width: 100%;
	padding: $h;
	text-align: center;
	background-color: $c2-dark;
}


// ============================================================================== //
// ============================================================================== //
// MAIN ELEMENTS ================================================================ //
// ============================================================================== //

header, main, footer {
	display: block;
	box-sizing: border-box;
	padding: 20px 40px;
}

header {

	// position: sticky;
	// top: 0;
	z-index: 999;

	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	grid-row-gap: calc(#{$h} + #{$q});

	padding-bottom: 0;

	border-bottom: 1px solid $c1-light-tone;	

	background-color: #fae8ff80;
	backdrop-filter: blur(8px);

	a.logotype, .outlinks a {
		display: flex;
		align-items: center;
		text-decoration: none;
		
		.icon {
			// background-color: $c1-light-tone;
			padding: 10px;
			border-radius: $q;
			font-size: 1.5rem;
			margin-right: $h;

			&:last-of-type {
				margin-right: 0px;
			}
		}

		.logo {
			background-image: url(/img/bridge.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			height: 43px;
			width: 115px;
			border: 10px solid transparent;
			// margin-right: 10px;

		}

		.type {
			color: #000;
			font-weight: 600;
			font-size: 1.2rem;
			margin-right: 10px;
		}
	}

	a.logotype {
		grid-column: 1 / 2;
		grid-row: 1 / 2;

		background-color: $c1-light-tone;
		border-radius: $q;
	}

	.outlinks {
		
		grid-column: 3 / 4;

		a {

			.icon {
				color: #000;
				background-color: transparent;
			}
		
			&:hover {
				.icon {
					background-color: $c1-light-tone;
				}
			}

			&:last-of-type {
				margin: 0;
			}
		}
	}

	nav {
		grid-column: 1 / 4;
		grid-row: 2 / 3;

		display: flex;
		justify-content: flex-start;

		a {
			display: block;
			
			margin: 0 $p 0 0;
			&:last-of-type {
				margin-right: 0;
			}
			padding-bottom: $q;

			border-bottom: 2px solid transparent;
			
			font-family: $sans-serif-stack;
			font-weight: 500;
			
			color: #111;
			
			text-decoration: none;

			&.active {
				border-bottom: 2px solid $c1-light-highlight;
				color: $c1-light-highlight;
			}

			&.icon {
				color: $c1-dark;
				border-bottom: none;
			}

			&:hover {
				color: $c1-light-highlight;
			}
		}
		
	}
}

main {

	display: grid;
	grid-template-columns: auto 1fr;
	// grid-column-gap: 40px;

	width: 100%;
	max-width: 100%;

	padding: 40px 0 40px 40px;

	& > * {
		min-width: 0px;
	}

	aside { 

		grid-row: 1 / 3;
		
		nav {
			position: sticky;
			top: calc(var(--header-height) + 40px);
			width: fit-content;
			max-width: 200px;

			a {
				display: block;
				color: #000;
				text-decoration: none;
				font-weight: 600;
				padding-bottom: $h;
				margin-top: $p;
				margin-right: 40px;

				transition: color .1s;

				&:hover {
					color: #000;
				}

				&:first-of-type {
					margin-top: 0;
				}
			}

			
			ol {
				list-style: none;
				padding-left: 10px;

				a {
					color: #6f7f8b;
					font-weight: 400;
					margin-top: 0;
					// font-weight: 600;

					&:hover {
						color: #000;
					}
				}
			}

			& > ol {
				margin: 0;
				padding: 0;

				& > li > a {
					// color: #000;
					font-weight: 600;
				}
			}
		}
	
	}
	
}

@media (max-width: 950px) {

	main {
		grid-column-gap: 0;
		aside {
			display: none;
		}
	}

}

@media (max-width: 600px) {
	header {
		padding: 20px 20px 0 20px;
	}
	main {
		padding: 40px 0 40px 20px;
	}
}

// ============================================================================== //
// ============================================================================== //
// POST ========================================================================= //
// ============================================================================== //

article {
	h1, h2, h3, h4, h5, h6,
	p,
	blockquote,
	figure,
	ul, ol, dl,
	pre,
	.csl-bib-body {
		display: block;
		width: 600px;
		max-width: calc(100% - #{1 * $p});
		@include mpb(0 auto #{1 * $p} 0);
	}
}

article {

	h1, h2, h3, h4, h5, h6 {
		margin-top: calc(-1 * var(--header-height) - 40px);
		padding-top: calc(var(--header-height) + 40px);
	}

	.spacer {
		height: 40px;
	}

	font-size: 1.1rem;
	line-height: 1.8rem;

	grid-column: 2 / 3;
	max-width: 100%;

	padding: 0 0 #{1 * $p} 0;
	
	hr {
		display: block;
		border: 0;
		height: 1px;
		margin: #{2 * $p} 0;
		background-color: $c1-light;
	}

	h1 {
		font-size: 1.6rem;
		font-weight: 600;
		color: $c1-dark;

		&.title {
			color: #000;
			font-weight: 700;
			font-size: 2rem;
			text-transform: none;
			// text-decoration: underline;
			// text-decoration-color: $c1-light-highlight;
			// text-decoration-thickness: 3px;
		}
	}

	h2 {
		font-size: 1.3rem;
		font-weight: 400;
		// font-style: italic;
		color: $c1-dark;

		&.description {
			// color: $c1-light-highlight;
			font-weight: 600;
			font-style: normal;
			font-size: 1.2rem;
			color: $default-text;
		}
	}

	h3 {
		font-size: 1rem;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $c1-dark;
	}

	p {
		& > code {
			font-family: $monospace-stack;
		}
	}

	a {
		color: $c1-dark;
		text-decoration: none;
		// background-color: $c1-light;
		
		&:hover {
			text-decoration: underline;
		}
	}

	blockquote {
		border-left: $h solid $c1-light;
		padding-left: $p;

		font-size: 1rem;
		line-height: 1.5rem;
		text-align: justify;

		p {
			margin: 0 0 $p 0;
			max-width: 100%;
			font-weight: 400;
		}
	}

	figure.c-blockquote {

		border-left: $h solid $c1-light;
		// margin: #{2 * $p} auto #{3 * $p} auto;
		padding-left: $p;

		blockquote {
			margin: 0 0 $h 0;
			max-width: 100%;

			border-left: none;
			padding-left: 0;

			p {
				margin: 0;
			}
		}

		figcaption {
			font-size: .9rem;
			font-weight: 300;
			line-height: 1.3rem;
			color: $c1-dark;
		}
	}

	ul {
		list-style: none;

		li {
			position: relative;
			padding: 0 0 #{$h} #{1.5 * $p};

			&::before {
				content: '\2022';
				position: absolute;
				left: 0;
				color: $c1-dark;
			}
		}
	}

	ol {
		list-style: none;
		counter-reset: list_item;

		li {
			position: relative;
			padding: 0 0 #{$h} #{1.5 * $p};

			&::before {
				counter-increment: list_item;
				content: counter(list_item);
				font-weight: 500;
				position: absolute;
				left: 0;
				color: $c1-dark;
			}
		}
	}

	dl {
		dt {
			color: $c1-dark;
			font-style: italic;
			padding-bottom: #{$h};
			// font-weight: 300;
		}

		dd {
			margin: 0;
			padding: 0 0 #{$h} #{1.5 * $p};

		}
	}

	span.katex-display {
		display: block;
		overflow-x: scroll;
		overflow-y: hidden;

		&::-webkit-scrollbar {
			height: 2px;
		}
		 
		&::-webkit-scrollbar-thumb {
			background-color: $c1-dark;
		}
	}

	.collapsible {
		background-color: #f6f6f6;
		margin: #{2 * $p} 0;
		padding: $p 0 .1px 0;

		&.collapsed {

			cursor: pointer;

			& > * {
				display: none;
			}

			&::before {
				display: block;
				width: 600px;
				max-width: calc(100% - #{1 * $p});
				@include mpb(0 auto #{1 * $p} auto);
				content: attr(data-text);
			}

		}
	}

	.fig {
		@include mpb(0 auto #{1 * $p} 0);
		max-width: calc(100% - 40px);

		&.inset {
			width: 600px;
		}

		&.outset-1 {
			width: calc(600px + #{4 * $p});
		}
		
		&.outset-2 {
			width: calc(600px + #{8 * $p});
		}
		
		&.outset-3 {
			width: calc(600px + #{16 * $p});
		}

		&.outset-4 {
			width: calc(600px + #{32 * $p});
		}

		&.full-width {
			width: 100%;
			max-width: calc(100% + 40px);
		}

		&.full-width-inset {
			width: 100%;
		}

		&.side-1 {
			clear: both;
			float: right;
			margin-left: $p;
			margin-right: calc((100% - 600px) / 2);
			width: 200px;
		}

		&.side-2 {
			clear: both;
			float: right;
			margin-left: $p;
			margin-right: calc((100% - 600px) / 2 - 100px);
			width: 300px;
		}

		&.side-3 {
			clear: both;
			float: right;
			margin-left: $p;
			margin-right: calc((100% - 600px) / 2 - 200px);
			width: 400px;
		}

		&.increase-margin-1 {
			margin-top: #{2 * $p};
			margin-bottom: #{2 * $p};
		}

		&.increase-margin-2 {
			margin-top: #{4 * $p};
			margin-bottom: #{4 * $p};
		}

		&.increase-margin-3 {
			margin-top: #{8 * $p};
			margin-bottom: #{8 * $p};
		}

		img {
			width: 100%;
			max-width: 100%;
		}

		.vega-embed {
			width: 100%;
		}

		svg {
			width: 100%;
			overflow: visible;
		}

		canvas {
			max-width: 100%;
		}

		.toggles {
			width: auto;
			// max-width: 90vw;
			margin: $p auto 0 auto;
			display: flex;

			.toggle-group {
				width: auto;
				margin: 0 auto;

				.group-details {
					width: auto;
					margin-bottom: $q;

					.group-name {
						color: $c1-dark;
						font-weight: 700;
						text-transform: uppercase;
						letter-spacing: 1px;
						font-size: .9rem;
						display: inline;
					}
				}

				.group-contents {
					
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					
					.toggle-box {
						padding: $h;
						margin-right: $h;
						margin-bottom: $h;
						background-color: $c1-light;
						max-width: 300px;
						min-width: 200px;

						display: flex;
						flex-direction: column;
						justify-content: space-between;

						.name {
							font-weight: 500;
							color: $c1-dark;
						}

						.description {
							font-weight: 300;
							font-size: .9rem;
							line-height: 1.1rem;
							margin-bottom: $h;
						}

						select {
							width: 100%;
							border: 1px solid $c1-dark;
							background-color: $c1-light-tone;
							padding: $q;
							font-size: 1rem;

							&:focus {
								outline: none;
							}
						}
					}

				}

			}
		}

		table {
			width: 100%;
			border-collapse: collapse;
			text-align: left;


			--bcol: #{$c1-dark};
			
			// font-family: $monospace-stack;
			font-size: .9rem;

			tr {

				border-bottom: 1px solid $c1-light;

				td, th {
					border-right: 1px solid var(--bcol);
					padding: calc(#{$q} / 2) $q;

					&:first-of-type {
						// padding-left: 0;
					}

					&:last-of-type {
						border: none;
						// padding-right: 0;
					}

					&.shade {
						background-color: $c1-light;
					}
				}
			}

			thead {
				border-top: 3px double var(--bcol);
				border-bottom: 3px double var(--bcol);

				color: $c1-dark;
			}

			tbody {
				border-top: 3px double var(--bcol);
				border-bottom: 3px double var(--bcol);
				
			}
		}
	}

	@media (max-width: 1000px) {

		.fig {
			&.side-1 {
				clear: both;
				float: none;
				margin: 0 auto $p 0;
				width: 200px;
			}
		}
	}

	@media (max-width: 1100px) {

		.fig {
			&.side-2 {
				clear: both;
				float: none;
				margin: 0 auto $p 0;
				width: 300px;
			}
		}
	}

	@media (max-width: 1350px) {

		.fig {
			&.side-3 {
				clear: both;
				float: none;
				margin: 0 auto $p 0;
				width: 400px;
			}
		}
	}
	
	div.placeholder {
		background-color: $c1-light;
		border: 1px solid $c1-dark;
		padding: $p;
		font-family: $monospace-stack;
		text-align: center;
		font-size: 1rem;
	}

	counter-reset: sidenote-counter;

	.sidenote {
		width: 250px;
		margin-top: 0.3rem;
		margin-bottom: 0;
		font-size: .9rem;
		font-weight: 300;
		line-height: 1.3;
		vertical-align: baseline;
		position: relative;
		// background-color: red;
		font-style: italic;

		&.L {
			float: left;
			clear: left;
			margin-left: calc(-250px - #{$p});
			text-align: right;
		}
		
		&.R {
			float: right;
			clear: right;
			margin-right: calc(-250px - #{$p});
			text-align: left;
		}

		&:before {
			content: '[' counter(sidenote-counter) ']';
			font-size: .7rem;
			position: relative;
			vertical-align: text-top;
			background-color: $c1-light;
			color: $c1-dark;
			font-weight: 300;
			font-style: normal;
			margin-right: 5px;
		}

	}

	.sidenote-number {
		cursor: pointer;

		&:after, &:before {
			position: relative;
			vertical-align: baseline;
		}

		&:after {
			counter-increment: sidenote-counter;
			content: '[' counter(sidenote-counter) ']';
			font-weight: 300;
			font-size: .7rem;
			top: -0.5rem;
			left: 0.1rem;
			background-color: $c1-light;
			color: $c1-dark;
		}
	}

	input.margin-toggle {
			display: none;
	}

	label.sidenote-number {
			display: inline;
	}

	label.margin-toggle:not(.sidenote-number) {
			display: none;
	}

	.sidenote-number:hover ~ .sidenote {
		background-color: $c1-light;
	}

	@media (max-width: 1180px) {

		.sidenote.L {
			text-align: left;
		}

		.sidenote-number:hover ~ .sidenote {
			background-color: transparent;
		}

		label.margin-toggle:not(.sidenote-number) {
				display: inline;
		}

		.sidenote {
				display: none;
		}

		.margin-toggle:checked + .sidenote {
				display: block;
				clear: both;
				float: left;
				width: calc(100% - #{2*$p});
				// left: 1rem;
				margin: $p;
				vertical-align: baseline;
				position: relative;
		}
	}

	a.ref {
		cursor: pointer;
	}

	div.hover-ref {
		background-color: $c1-dark;
		border: 1px solid $c1-dark;
		padding: $q $h;

		color: $c1-dark-text;
		border-radius: $q;
		box-shadow: 0 0 10px #aaa;

		position: fixed;
		// top: 20px;
		// left: 20px;

		font-size: .9rem;
		font-weight: 300;

		z-index: 99;

		a {
			color: $c1-dark-text;
		}

		.title {
			font-weight: 600;
			padding: 0;
		}
	}
}


.blocklinks {
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0 40px 0;

	a {
		display: block;
		margin: 0 20px 20px 0;
		width: 240px;
		color: $default-text;

		& > div {
			background-color: #f6f6f6;
			height: 100px;
			margin: 0 0 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			transition: box-shadow .1s;
			font-size: 2rem;
		}

		&:nth-of-type(1) > div {
			background: linear-gradient(0.25turn, #48da90, #3ac1e8);
		}
		&:nth-of-type(2) > div {
			background: linear-gradient(0.5turn, #f97716, #faca15);
		}
		&:nth-of-type(3) > div {
			background: linear-gradient(0.25turn, #e78ef3, #cd2fe1);
		}

		&:hover {
			text-decoration: none;

			& > div {
				box-shadow: 0 0 20px #ddd;
			}
		}
	}
}

.backmatter {

	grid-column: 2 / 3;

	padding: #{2 * $p} 0 #{1 * $p} 0;
	// background-color: $c1-light;

	font-size: .9rem;
	font-weight: 300;

	section {
		// display: grid;
		// grid-template-columns: 200px 1fr;
		width: 600px;
		max-width: calc(100% - 40px);

		h1 {
			font-size: 1rem;
			margin: 0 0 $p 0;
			color: $c1-dark;
		}

		p, ol, .csl-bib-body, pre {
			margin: 0 0 $p $p;
			// padding-left: $p;
		}

	}

	@media (max-width: 600px) {
		section {
			max-width: calc(100% - 20px);
		}
	}

	@media (max-width: 1100px) {

		h1 {
			float: none;
			width: 600px;
			max-width: calc(100% - #{1 * $p});
			margin: 0 auto $p auto;
		}
	}

	a {
		color: $c1-dark;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		list-style: none;

		li {
			position: relative;
			padding: 0 0 #{$h} #{1 * $p};

			&::before {
				content: '\2022';
				position: absolute;
				left: 0;
			}
		}
	}

	ol {
		list-style: none;
		counter-reset: list_item;
		padding-left: 0;

		li {
			position: relative;
			padding: 0 0 #{$h} #{1 * $p};

			&::before {
				counter-increment: list_item;
				content: counter(list_item) '.';
				position: absolute;
				left: 0;
			}

			p {
				display: inline;
				@include mpb();
			}
		}
	}

	.csl-bib-body {
		counter-reset: references;

		.csl-entry {
			position: relative;
			padding: 0 0 #{$h} #{1 * $p};

			&::before {
				counter-increment: references;
				content: counter(references) '.';
				position: absolute;
				left: 0;
			}

			.title {
				font-weight: 500;
			}
		}
	}

	pre {
		// background-color: $c1-light-tone;
		background-color: #f6f6f6;
		// border: 1px solid $c1-dark;

		overflow-x: scroll;
		scroll-behavior: smooth;

		padding: 10px 15px;

		font-family: $monospace-stack;
		font-size: .8rem;
		line-height: 1.2rem;

		&.wrap {
			white-space: pre-wrap;       /* Since CSS 2.1 */
			white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
			white-space: -pre-wrap;      /* Opera 4-6 */
			white-space: -o-pre-wrap;    /* Opera 7 */
			word-wrap: break-word;       /* Internet Explorer 5.5+ */
			overflow-x: auto;
		}

		&::-webkit-scrollbar {
			height: 2px;
		}
		 
		&::-webkit-scrollbar-thumb {
			background-color: $c1-dark;
		}
		 
	}
}


// ============================================================================== //
// ============================================================================== //
// ============================================================================== //

// METRICS TABLE

.outer-wrap {
	position: relative;
	width: calc(100% - 40px);
	height: 400px;
	overflow: hidden;
	margin: 3rem 0;
	border: 1px solid black;
}

.inner-wrap {
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #f6f6f6;
}

.metrics-table {
	/*display: grid;*/
	/*grid-template-columns: repeat(6, auto);*/

	font-family: $sans-serif-stack;
	background-color: #f6f6f6;
	border-collapse: collapse;

	text-align: left;

	min-width: 100%;
	margin: 0;

	/*position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	margin: 0;*/
}

.inner-wrap::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: transparent;
}
.inner-wrap::-webkit-scrollbar-track {
	background-color: transparent;
	/*border-radius: 10px;*/
	margin: 0;
}
.inner-wrap::-webkit-scrollbar-thumb {
	background-color: $c1-dark;
	/*border-radius: 10px;*/
}

.metrics-table th {
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 99;
	/*border-bottom: 1px solid #000;*/
	font-size: .9rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0;
	cursor: default;
}

.metrics-table th div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.metrics-table th .label {
	padding: 10px 0 10px 1rem;
}

.metrics-table th .actions {
	/*margin-left: 10px;*/
}

.metrics-table th .actions button {
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 0;
	color: #eee;
	/*cursor: pointer;*/
	padding: 10px 5px;
	margin: 0;
}

.metrics-table th .actions button:first-of-type {
	padding-left: 10px;
}
.metrics-table th .actions button:last-of-type {
	padding-right: 1rem;
}

.metrics-table th:hover .actions button {
	color: #cdcdcd;
}
.metrics-table th .actions button:hover {
	color: #000;
}
.metrics-table th .actions button.active {
	color: #000;
}

.metrics-table th .filters {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: fit-content;
	align-items: flex-start;
	top: calc(100% - 1px);
	left: -1px;
	background-color: #fff;
	border: 1px solid #000;
	border-top: none;
	padding: 0 1.5rem 10px 1.5rem;
	font-weight: 400;
	text-transform: none;
	z-index: 97 !important;
	min-width: calc(100% + 1px);
	letter-spacing: 0;
}

.metrics-table th .filters.hide {
	display: none;
}

.metrics-table th .filters > div {
	justify-content: flex-start;
	align-items: flex-start;
}
.metrics-table th .filters > div input {
	margin: 6px 10px 10px 0;
}
.metrics-table th .filters > div label {
	
}

.metrics-table th::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #000;
	content: ' ';
}

.metrics-table tr {
	border: none;
}

.metrics-table td {
	/*display: grid;*/
	vertical-align: center;
	padding: 10px 1rem;
	font-size: 1rem;
	line-height: 1.5rem;
	/*justify-content: center;*/

	p {
		margin: 0;
	}

	ul {
		margin: 0;

		li {
			padding-left: 16px;

			&:last-of-type {
				padding-bottom: 0;
			}
		}
	}
}

.metrics-table td.data {
	font-family: monospace;
}
.metrics-table td.text {
	font-family: var(--serif-stack);
}
.metrics-table td.tags {

	& > div {
		background-color: #f0f0f0;
		border-radius: 5px;
		padding: 1px 7px 4px 7px;
		width: fit-content;
		margin: 3px 6px 3px 0;
		float: left;
	}
}

.metrics-table tr:hover td.tags {
	& > div {
		background-color: $c1-light-tone;
	}
	&:hover > div {
		background-color: $c1-light-tone-tone;
	}
}

.metrics-table td:first-child, .metrics-table th:first-child {
	position: sticky;
	left: 0;
	/*border-right: 1px solid #000;*/
}
.metrics-table td:first-child {
	z-index: 100;
	font-weight: 600;
	/*font-size: 1.2rem;*/
}
.metrics-table th:first-child {
	z-index: 101;
}
.metrics-table td:first-child::before, .metrics-table th:first-child::before {
	content: ' ';
	position: absolute;
	right: 0;
	width: 1px;
	top: 0;
	height: 100%;
	background-color: #000;
}


.metrics-table td span {
	width: fit-content;
	display: inline-block;
}

.metrics-table tr:nth-of-type(2n+1) td {
	background-color: #fafafa;
}

.metrics-table tr:nth-of-type(2n) td {
	background-color: #fff
}

.metrics-table tr:hover td {
	background-color: $c1-light;
	/*border-top: 1px solid blue;
	border-bottom: 1px solid blue;*/
}

.metrics-table tr:hover td:hover {
	background-color: $c1-light-tone;
}

.safe {

	font-weight: 600;
	text-transform: uppercase;

	&.no {
		color: #b71c1c;
	}
	&.maybe {
		color: $c1-dark;
	}
}

.outer-wrap > button {
	position: absolute;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 101;

	border: none;
	outline: none;
	border-radius: 5px;
	margin: 0;
	font-size: .9rem;
	background-color: $c1-dark;
	color: #fff;
	padding: 5px 10px;
	font-family: $sans-serif-stack;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

.outer-wrap > button .expand {
	display: inline-block;
}
.outer-wrap > button .compress {
	display: none;
}

html.fullscreen {
	overflow: hidden;
}

html.fullscreen .outer-wrap {
	width: 100vw;
	height: 100vh;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	border: none;
	z-index: 1000;
}

html.fullscreen .outer-wrap > button {
	position: fixed;
	top: unset;
	bottom: 1.5rem;
	right: 1.5rem;
}

html.fullscreen .outer-wrap > button .expand {
	display: none;
}
html.fullscreen .outer-wrap > button .compress {
	display: inline-block;
}