@charset "UTF-8";
:root {
  --p: 1.4rem;
  --h: 0.7rem;
  --q: 0.35rem;
  --default-text: #141414;
  --c1-dark: #4a148c;
  --c1-light: #fcf3ff;
  --header-height: 106px;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-color: #fff;
  font: 400 14px/1.5rem "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #141414;
  text-size-adjust: none;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.banner {
  width: 100%;
  padding: 0.7rem;
  text-align: center;
  background-color: #fdd835;
}

header, main, footer {
  display: block;
  box-sizing: border-box;
  padding: 20px 40px;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-row-gap: calc(0.7rem + 0.35rem);
  padding-bottom: 0;
  border-bottom: 1px solid #fae8ff;
  background-color: #fae8ff80;
  backdrop-filter: blur(8px);
}
header a.logotype, header .outlinks a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header a.logotype .icon, header .outlinks a .icon {
  background-color: #fae8ff;
  padding: 10px;
  border-radius: 0.35rem;
  font-size: 1.5rem;
  margin-right: 0.7rem;
}
header a.logotype .type, header .outlinks a .type {
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
}
header a.logotype {
  grid-column: 1/2;
  grid-row: 1/2;
}
header .outlinks {
  grid-column: 3/4;
}
header .outlinks a .icon {
  color: #000;
  background-color: transparent;
}
header .outlinks a:hover .icon {
  background-color: #fae8ff;
}
header .outlinks a:last-of-type {
  margin: 0;
}
header nav {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-start;
}
header nav a {
  display: block;
  margin: 0 1.4rem 0 0;
  padding-bottom: 0.35rem;
  border-bottom: 2px solid transparent;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  color: #111;
  text-decoration: none;
}
header nav a:last-of-type {
  margin-right: 0;
}
header nav a.active {
  border-bottom: 2px solid #c026d3;
  color: #c026d3;
}
header nav a.icon {
  color: #4a148c;
  border-bottom: none;
}
header nav a:hover {
  color: #c026d3;
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  max-width: 100%;
  padding: 40px 0 40px 40px;
}
main > * {
  min-width: 0px;
}
main aside {
  grid-row: 1/3;
}
main aside nav {
  position: sticky;
  top: calc(var(--header-height) + 40px);
  width: fit-content;
  max-width: 200px;
}
main aside nav a {
  display: block;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 0.7rem;
  margin-top: 1.4rem;
  margin-right: 40px;
  transition: color 0.1s;
}
main aside nav a:hover {
  color: #000;
}
main aside nav a:first-of-type {
  margin-top: 0;
}
main aside nav ol {
  list-style: none;
  padding-left: 10px;
}
main aside nav ol a {
  color: #6f7f8b;
  font-weight: 400;
  margin-top: 0;
}
main aside nav ol a:hover {
  color: #000;
}
main aside nav > ol {
  margin: 0;
  padding: 0;
}
main aside nav > ol > li > a {
  font-weight: 600;
}

@media (max-width: 950px) {
  main {
    grid-column-gap: 0;
  }
  main aside {
    display: none;
  }
}
article h1, article h2, article h3, article h4, article h5, article h6,
article p,
article blockquote,
article figure,
article ul, article ol, article dl,
article pre,
article .csl-bib-body {
  display: block;
  width: 600px;
  max-width: calc(100% - 1.4rem);
  margin: 0 auto 1.4rem 0;
  padding: 0;
  border: 0;
}

article {
  font-size: 1.1rem;
  line-height: 1.8rem;
  grid-column: 2/3;
  max-width: 100%;
  padding: 0 0 1.4rem 0;
  counter-reset: sidenote-counter;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin-top: calc(-1 * var(--header-height) - 40px);
  padding-top: calc(var(--header-height) + 40px);
}
article hr {
  display: block;
  border: 0;
  height: 1px;
  margin: 2.8rem 0;
  background-color: #fcf3ff;
}
article h1 {
  font-size: 1.6rem;
  font-weight: 300;
  color: #4a148c;
  text-transform: capitalize;
}
article h1.title {
  color: #000;
  font-weight: 900;
  font-size: 2rem;
  text-transform: none;
}
article h2 {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
  color: #4a148c;
}
article h2.description {
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
}
article h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4a148c;
}
article p > code {
  font-family: "Roboto Mono", monospace;
}
article a {
  color: #4a148c;
  text-decoration: none;
}
article a:hover {
  text-decoration: underline;
}
article blockquote {
  border-left: 0.7rem solid #fcf3ff;
  padding-left: 1.4rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
article blockquote p {
  margin: 0 0 1.4rem 0;
  max-width: 100%;
  font-weight: 400;
}
article figure.c-blockquote {
  border-left: 0.7rem solid #fcf3ff;
  padding-left: 1.4rem;
}
article figure.c-blockquote blockquote {
  margin: 0 0 0.7rem 0;
  max-width: 100%;
  border-left: none;
  padding-left: 0;
}
article figure.c-blockquote blockquote p {
  margin: 0;
}
article figure.c-blockquote figcaption {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3rem;
  color: #4a148c;
}
article ul {
  list-style: none;
}
article ul li {
  position: relative;
  padding: 0 0 0.7rem 2.1rem;
}
article ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #4a148c;
}
article ol {
  list-style: none;
  counter-reset: list_item;
}
article ol li {
  position: relative;
  padding: 0 0 0.7rem 2.1rem;
}
article ol li::before {
  counter-increment: list_item;
  content: counter(list_item);
  font-weight: 500;
  position: absolute;
  left: 0;
  color: #4a148c;
}
article dl dt {
  color: #4a148c;
  font-style: italic;
  padding-bottom: 0.7rem;
}
article dl dd {
  margin: 0;
  padding: 0 0 0.7rem 2.1rem;
}
article span.katex-display {
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
}
article span.katex-display::-webkit-scrollbar {
  height: 2px;
}
article span.katex-display::-webkit-scrollbar-thumb {
  background-color: #4a148c;
}
article .collapsible {
  background-color: #f6f6f6;
  margin: 2.8rem 0;
  padding: 1.4rem 0 0.1px 0;
}
article .collapsible.collapsed {
  cursor: pointer;
}
article .collapsible.collapsed > * {
  display: none;
}
article .collapsible.collapsed::before {
  display: block;
  width: 600px;
  max-width: calc(100% - 1.4rem);
  margin: 0 auto 1.4rem auto;
  padding: 0;
  border: 0;
  content: attr(data-text);
}
article .fig {
  margin: 0 auto 1.4rem 0;
  padding: 0;
  border: 0;
  max-width: calc(100% - 40px);
}
article .fig.inset {
  width: 600px;
}
article .fig.outset-1 {
  width: calc(600px + 5.6rem);
}
article .fig.outset-2 {
  width: calc(600px + 11.2rem);
}
article .fig.outset-3 {
  width: calc(600px + 22.4rem);
}
article .fig.outset-4 {
  width: calc(600px + 44.8rem);
}
article .fig.full-width {
  width: 100%;
  max-width: calc(100% + 40px);
}
article .fig.full-width-inset {
  width: 100%;
}
article .fig.side-1 {
  clear: both;
  float: right;
  margin-left: 1.4rem;
  margin-right: calc((100% - 600px) / 2);
  width: 200px;
}
article .fig.side-2 {
  clear: both;
  float: right;
  margin-left: 1.4rem;
  margin-right: calc((100% - 600px) / 2 - 100px);
  width: 300px;
}
article .fig.side-3 {
  clear: both;
  float: right;
  margin-left: 1.4rem;
  margin-right: calc((100% - 600px) / 2 - 200px);
  width: 400px;
}
article .fig.increase-margin-1 {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}
article .fig.increase-margin-2 {
  margin-top: 5.6rem;
  margin-bottom: 5.6rem;
}
article .fig.increase-margin-3 {
  margin-top: 11.2rem;
  margin-bottom: 11.2rem;
}
article .fig img {
  width: 100%;
  max-width: 100%;
}
article .fig .vega-embed {
  width: 100%;
}
article .fig svg {
  width: 100%;
  overflow: visible;
}
article .fig canvas {
  max-width: 100%;
}
article .fig .toggles {
  width: auto;
  margin: 1.4rem auto 0 auto;
  display: flex;
}
article .fig .toggles .toggle-group {
  width: auto;
  margin: 0 auto;
}
article .fig .toggles .toggle-group .group-details {
  width: auto;
  margin-bottom: 0.35rem;
}
article .fig .toggles .toggle-group .group-details .group-name {
  color: #4a148c;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  display: inline;
}
article .fig .toggles .toggle-group .group-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
article .fig .toggles .toggle-group .group-contents .toggle-box {
  padding: 0.7rem;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  background-color: #fcf3ff;
  max-width: 300px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
article .fig .toggles .toggle-group .group-contents .toggle-box .name {
  font-weight: 500;
  color: #4a148c;
}
article .fig .toggles .toggle-group .group-contents .toggle-box .description {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin-bottom: 0.7rem;
}
article .fig .toggles .toggle-group .group-contents .toggle-box select {
  width: 100%;
  border: 1px solid #4a148c;
  background-color: #fae8ff;
  padding: 0.35rem;
  font-size: 1rem;
}
article .fig .toggles .toggle-group .group-contents .toggle-box select:focus {
  outline: none;
}
article .fig table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  --bcol: #4a148c;
  font-size: 0.9rem;
}
article .fig table tr {
  border-bottom: 1px solid #fcf3ff;
}
article .fig table tr td, article .fig table tr th {
  border-right: 1px solid var(--bcol);
  padding: calc(0.35rem / 2) 0.35rem;
}
article .fig table tr td:last-of-type, article .fig table tr th:last-of-type {
  border: none;
}
article .fig table tr td.shade, article .fig table tr th.shade {
  background-color: #fcf3ff;
}
article .fig table thead {
  border-top: 3px double var(--bcol);
  border-bottom: 3px double var(--bcol);
  color: #4a148c;
}
article .fig table tbody {
  border-top: 3px double var(--bcol);
  border-bottom: 3px double var(--bcol);
}
@media (max-width: 1000px) {
  article .fig.side-1 {
    clear: both;
    float: none;
    margin: 0 auto 1.4rem 0;
    width: 200px;
  }
}
@media (max-width: 1100px) {
  article .fig.side-2 {
    clear: both;
    float: none;
    margin: 0 auto 1.4rem 0;
    width: 300px;
  }
}
@media (max-width: 1350px) {
  article .fig.side-3 {
    clear: both;
    float: none;
    margin: 0 auto 1.4rem 0;
    width: 400px;
  }
}
article div.placeholder {
  background-color: #fcf3ff;
  border: 1px solid #4a148c;
  padding: 1.4rem;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 1rem;
}
article .sidenote {
  width: 250px;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  font-style: italic;
}
article .sidenote.L {
  float: left;
  clear: left;
  margin-left: calc(-250px - 1.4rem);
  text-align: right;
}
article .sidenote.R {
  float: right;
  clear: right;
  margin-right: calc(-250px - 1.4rem);
  text-align: left;
}
article .sidenote:before {
  content: "[" counter(sidenote-counter) "]";
  font-size: 0.7rem;
  position: relative;
  vertical-align: text-top;
  background-color: #fcf3ff;
  color: #4a148c;
  font-weight: 300;
  font-style: normal;
  margin-right: 5px;
}
article .sidenote-number {
  cursor: pointer;
}
article .sidenote-number:after, article .sidenote-number:before {
  position: relative;
  vertical-align: baseline;
}
article .sidenote-number:after {
  counter-increment: sidenote-counter;
  content: "[" counter(sidenote-counter) "]";
  font-weight: 300;
  font-size: 0.7rem;
  top: -0.5rem;
  left: 0.1rem;
  background-color: #fcf3ff;
  color: #4a148c;
}
article input.margin-toggle {
  display: none;
}
article label.sidenote-number {
  display: inline;
}
article label.margin-toggle:not(.sidenote-number) {
  display: none;
}
article .sidenote-number:hover ~ .sidenote {
  background-color: #fcf3ff;
}
@media (max-width: 1180px) {
  article .sidenote.L {
    text-align: left;
  }
  article .sidenote-number:hover ~ .sidenote {
    background-color: transparent;
  }
  article label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }
  article .sidenote {
    display: none;
  }
  article .margin-toggle:checked + .sidenote {
    display: block;
    clear: both;
    float: left;
    width: calc(100% - 2.8rem);
    margin: 1.4rem;
    vertical-align: baseline;
    position: relative;
  }
}
article a.ref {
  cursor: pointer;
}
article div.hover-ref {
  background-color: #4a148c;
  border: 1px solid #4a148c;
  padding: 0.35rem 0.7rem;
  color: #fff;
  border-radius: 0.35rem;
  box-shadow: 0 0 10px #aaa;
  position: fixed;
  font-size: 0.9rem;
  font-weight: 300;
  z-index: 99;
}
article div.hover-ref a {
  color: #fff;
}
article div.hover-ref .title {
  font-weight: 600;
  padding: 0;
}

.backmatter {
  grid-column: 2/3;
  padding: 2.8rem 0 1.4rem 0;
  font-size: 0.9rem;
  font-weight: 300;
}
.backmatter section {
  width: 600px;
}
.backmatter section h1 {
  font-size: 1rem;
  margin: 0 0 1.4rem 0;
  color: #4a148c;
}
.backmatter section p, .backmatter section ol, .backmatter section .csl-bib-body, .backmatter section pre {
  margin: 0 0 1.4rem 1.4rem;
}
@media (max-width: 1100px) {
  .backmatter h1 {
    float: none;
    width: 600px;
    max-width: calc(100% - 1.4rem);
    margin: 0 auto 1.4rem auto;
  }
}
.backmatter a {
  color: #4a148c;
  text-decoration: none;
}
.backmatter a:hover {
  text-decoration: underline;
}
.backmatter ul {
  list-style: none;
}
.backmatter ul li {
  position: relative;
  padding: 0 0 0.7rem 1.4rem;
}
.backmatter ul li::before {
  content: "•";
  position: absolute;
  left: 0;
}
.backmatter ol {
  list-style: none;
  counter-reset: list_item;
  padding-left: 0;
}
.backmatter ol li {
  position: relative;
  padding: 0 0 0.7rem 1.4rem;
}
.backmatter ol li::before {
  counter-increment: list_item;
  content: counter(list_item) ".";
  position: absolute;
  left: 0;
}
.backmatter ol li p {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
}
.backmatter .csl-bib-body {
  counter-reset: references;
}
.backmatter .csl-bib-body .csl-entry {
  position: relative;
  padding: 0 0 0.7rem 1.4rem;
}
.backmatter .csl-bib-body .csl-entry::before {
  counter-increment: references;
  content: counter(references) ".";
  position: absolute;
  left: 0;
}
.backmatter .csl-bib-body .csl-entry .title {
  font-weight: 500;
}
.backmatter pre {
  background-color: #fae8ff;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px 15px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.backmatter pre.wrap {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  overflow-x: auto;
}
.backmatter pre::-webkit-scrollbar {
  height: 2px;
}
.backmatter pre::-webkit-scrollbar-thumb {
  background-color: #4a148c;
}

/*# sourceMappingURL=main.css.map */
